.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "omyu_pretty";
  src: url("./fonts/omu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: "omyu_pretty", sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/kaist.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerBox {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  width: 100px;
  height: 100px;
}

.loginButton {
  margin-top: 20px;
  font-family: "omyu-pretty", sans-serif;
}
